body {
    letter-spacing: -0.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 29, 31);
    text-align: center;
}
  
  h2 {
    font-size: 55px;
    font-weight: 600;
    color: #1d1d1f;
    margin-bottom: 0;
    letter-spacing: 0,3px;
  }

  .headline1 {
    font-size: 27px;
    font-weight: 400;
    color: #36363a;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .button-plain {
    font-size: 19px;
    color:rgb(26, 26, 221)
    margin: 0;
  }
 
  section {
    background-color: #fbfbfd;
    width: 100%;
    height: auto;
    padding: 43px 0px 100px;
  }